@{
 Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Tela de login</h2>

<form action="AcessoInicial" method="post">
    <input type="hidden" />

    <label for="Usuario" class="control-label">Usuário</label>
    <input type="text" Name="usuario" class="form-control" />
    <br />

    <label for="Senha" class="control-label">Senha</label>
    <input type="text" Name="senha" class="form-control" />
    <br />

    <input type="submit" value="Entrar" class="btn btn-success" />
    <br />
</form> 